<p-dialog header="Nova tarefa" [(visible)]="isVisible" [modal]="true" [style]="{ width: '550px' }" [draggable]="false"
  [resizable]="false" styleClass="task-modal" [closeOnEscape]="true">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="form-layout">

    <div class="field">
      <label for="title">Título</label>
      <input id="title" type="text" pInputText formControlName="title" placeholder="Ex: Revisar landing page" />
    </div>

    <div class="field">
      <label for="desc">Descrição</label>
      <textarea id="desc" rows="4" pTextarea formControlName="description" placeholder="Detalhes..."></textarea>
    </div>

    <div class="form-row">
      <div class="field">
        <label for="deadline">Prazo</label>
        <p-datepicker id="deadline" formControlName="deadline" dateFormat="dd/mm/yy" [showIcon]="true"
          placeholder="dd/mm/aaaa" appendTo="body"></p-datepicker>
      </div>

      <div class="field">
        <label for="priority">Prioridade</label>
        <p-select id="priority" [options]="priorityOptions" optionLabel="label" optionValue="value" formControlName="priority" appendTo="body"></p-select>
      </div>
    </div>

    @if (facade.isAdmin()) {
    <div class="field">
      <label for="assignee">Atribuir para</label>
      <p-select id="assignee" formControlName="assignee" [options]="facade.users()" optionLabel="label" optionValue="value" placeholder="Selecione um usuário" appendTo="body"></p-select>
    </div>
    }

    <div class="dialog-footer">
      <button 
        class="btn cancel-btn" 
        (click)="isVisible = false"
        type="button">
        Cancelar
      </button>
      <button 
        class="btn submit-btn" 
        type="submit" 
        [disabled]="taskForm.invalid || facade.isLoading()">
        @if (facade.isLoading()) {
          <i class="fa-solid fa-circle-notch fa-spin"></i> Carregando...
        } @else {
          Criar tarefa
        }
      </button>
    </div>
  </form>
</p-dialog>