<aside class="sidebar">
  <div class="logo">
    <div class="logo-icon">
      <i class="fa-solid fa-square-check"></i>
    </div>
    <span>TaskFlow</span>
  </div>

  <nav class="nav-menu">
    <a routerLink="/tasks" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
      <i class="fa-solid fa-table-columns"></i> Dashboard
    </a>
    <a routerLink="/tasks/my-tasks" routerLinkActive="active" class="nav-item">
      <i class="fa-solid fa-list"></i> Minhas tarefas
    </a>
    <a routerLink="/tasks/calendar" routerLinkActive="active" class="nav-item">
      <i class="fa-regular fa-calendar"></i> Calendário
    </a>
    @if (facade.isAdmin()) {
    <a routerLink="/tasks/admin" routerLinkActive="active" class="nav-item">
      <i class="fa-solid fa-users"></i> Administração
    </a>
    }
  </nav>
</aside>