<aside class="sidebar">
  <div class="logo">
    <div class="logo-icon">
      <i class="fa-solid fa-square-check"></i>
    </div>
    <span>TaskFlow</span>
  </div>

  <nav class="nav-menu">
    <a href="javascript:void(0)" class="nav-item active">
      <i class="fa-solid fa-table-columns"></i> Dashboard
    </a>
    <a href="javascript:void(0)" class="nav-item">
      <i class="fa-solid fa-list"></i> Minhas tarefas
    </a>
    <a href="javascript:void(0)" class="nav-item">
      <i class="fa-regular fa-calendar"></i> Calendário
    </a>
    <a href="javascript:void(0)" class="nav-item">
      <i class="fa-solid fa-users"></i> Administração
    </a>
    <a href="javascript:void(0)" class="nav-item">
      <i class="fa-solid fa-gear"></i> Configurações
    </a>
  </nav>
</aside>
