<header class="header">
  <div class="header-actions">
    <button class="new-task-btn" (click)="openCreateTaskModal()">
      <i class="fa-solid fa-plus"></i> Nova tarefa
    </button>

    <div class="user-profile">
      <div class="avatar" (click)="userMenu.toggle($event)">AM</div>

      <p-popover #userMenu styleClass="user-popover">
        <div class="user-menu-content">
          <div class="user-info">
            <h4>Admin Master</h4>
            <p>admin@task.com</p>
          </div>
          <ul class="menu-list">
            <li class="logout-item" (click)="logout()">
              <i class="fa-solid fa-arrow-right-from-bracket"></i> Sair
            </li>
          </ul>
        </div>
      </p-popover>
    </div>
  </div>
</header>